<h1>Listing orphans</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Lat</th>
    <th>Long</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orphans.each do |orphan| %>
  <tr>
    <td><%= orphan.description %></td>
    <td><%= orphan.lat %></td>
    <td><%= orphan.long %></td>
    <td><%= link_to 'Show', orphan %></td>
    <td><%= link_to 'Edit', edit_orphan_path(orphan) %></td>
    <td><%= link_to 'Destroy', orphan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orphan', new_orphan_path %>
