<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @orphan.description %>
</p>

<p>
  <b>Lat:</b>
  <%= @orphan.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @orphan.long %>
</p>


<%= link_to 'Edit', edit_orphan_path(@orphan) %> |
<%= link_to 'Back', orphans_path %>
